/*
#753422
#B05B3B
#D79771
#FFEBC9
*/


/*
402218
865439
C68B59
D7B19D

*/


*{
	background-color: #D7B19D;
	color: #402218;
}
/*#sudoku-banner *{
	background-color: white;
}
#sudoku-banner{
	background-color: white;
}*/
.nav-link{
	background-color:#D7B19D; /*/#6a9c62;style=" " #42613d;  #6a9c62*/
	color: white;
}
.nav-link a{ text-decoration: none;} /*color: white;*/
.nav-link a:hover{color: white;}

#navbar-app button{background-color: #C68B59; border:1px solid #402218; text-align: left;
}
#navbar-app {background-color: #402218; border:1px solid #e3e3e3; text-align: left;
}
/*#navbar-app button:active{background-color: #7a7a7a}*/
#navbar-app div{background-color: #402218}
.nav-link:hover div{background-color: #C68B59}
#navbar-app:hover{background-color: #C68B59}
/*#navbar-app:hover *{background-color: #C68B59}*/







#sudoku-banner h1{text-align: center; margin-top: 15px; margin-bottom: 15px;}
/*style=" background-color: black; margin: none; color: white"*/

#numberpad-component button{background-color: white ;width:100%; font-size: 18pt;border:1px solid #e3e3e3;}
#numberpad-component button:hover{background-color: #7a7a7a}
.numberpad-control{background-color: #dbaf67}


.sudokuCell:hover{background-color: green}

.numberpad-control:hover{background-color: #000000}









/*

@media only screen and (max-width: 768px) {
   For mobile phones: 
  [class*="col-"] {
    width: 100%;
  }
}*/
